 <!-- First Band (Image) -->
 
<div class="row">
<h2>About Us</h2>
</div>
<!-- Third Band (Image Right with Text) -->
<div class="row">
<div class="large-4 columns">
<p>FindExpert is the only site that vets both the experts and the clients so you can cut through the bullshit and get down to work.

<h4>Looking for Experts?</h4>
<p>Ever received 75 copy-and-paste proposals all starting with some deviation of “Hello <future client>?” Not anymore. All experts within FindExpert are here based on a referral system and held to a peer, colleague and client reputation rating that ensures “Hello Sir and/or Madam” doesn’t hit your project board.
</div>
<div class="large-8 columns">
<iframe width="450" height="300" src="//www.youtube.com/embed/KX5_VASHfGw" frameborder="0" allowfullscreen align="center"></iframe>
</div>

<div class="large-12 columns">
<h4>Want to Be An Expert?</h4>
<p>How many times are you beat out for a job, that was practically made for you, by a faceless worker that offers next to nothing wages and delivers...well..next to nothing? Or have a client throw you through the ringer on the proposal process just to pull out their project at the end? Not anymore. FindExpert is the only site that vets project managers to ensure that they are serious and you are not wasting your time.
</div>

</div>
</div>
