<div class="row">
<h2>My Dashboard</h2>
<div class="large-8 columns">


<h5>My Ratings</h5>
   <div>
        Reputation
    <img src="http://i43.tinypic.com/2vkhlkn.png" width="80" height="45">
        </div>
    <div>
    Referral Reputation
    <img src="http://i43.tinypic.com/2vkhlkn.png" width="80" height="45">
  </div>

<p><p>
Jump to:<ul class="no-bullet">
   <li><a href="#proposals">My New Jobs</a></li>
   <li><a href="#open">Open Projects</a></li>
   <li><a href="#completed">Completed Projects</a></li>
</ul>


</div>
<div class="large-4 columns">
	<%= image_tag 'findexpert.png' %>
	<%= link_to "Edit Your Profile", 'profile_expert' %>
</div>
</div>
<div class="row">
<div class="large-12 columns" id="proposals">
<h4>My New Jobs</h4>

<table>
  <thead>
    <tr>
      <th width="200">Proposal Name </th>
      <th>Project Description</th>
      <th width="150">Proposal Close Date</th>
      <th width="150">Number of Proposals Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Informational Security Content</td>
      <td>Develop an informational security content with regards to protection of kids from fraudulent activities online</td>
      <td>8/11/2013</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Online community</td>
      <td>Elements Used to Build Online Community: E-Learning Versus Social Networking Websites</td>
      <td>8/21/2013</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Hegemonic Behavior</td>
      <td>Historical Comparative Case Study of Emerging Hegemonic Behavior: Perspectives on internet users</td>
      <td>12/30/2013</td>
      <td>4</td>
    </tr>
  </tbody>
</table>

</div>
</div>
<div class="row">
<div class="large-12 columns" id="open">
<h4>My Open Projects</h4>

<h5 class="subheader">ToDo</h5>
<table>
  <thead>
    <tr>
      <th width="200">Project Name </th>
      <th>Project Description</th>
      <th width="150">Expert Name</th>
      <th width="150">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Divorce Differences</td>
      <td>An Amicable Divorce or Irreconcilable Differences: The Aesthetic Value of internet addicted people.</td>
      <td>Lhu Hyie</td>
      <td>9/1/2013</td>
    </tr>
    <tr>
      <td>Internet frustration</td>
      <td>Turning Compassion into Action: Internet frustration</td>
      <td>Jy McGuyi</td>
      <td>7/11/2014</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>




<h5 class="subheader">Waiting for Expert Response</h5>

<table>
  <thead>
    <tr>
      <th width="200">Project Name </th>
      <th>Project Description</th>
      <th width="150">Expert Name</th>
      <th width="150">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>Draw a Frog</td>
      <td>High level 3d modeling of a frog jumping into a pond. Approximately 5 minutes in length</td>
      <td>Jon Jones</td>
      <td>August 31st 2013</td>
    </tr>
    <tr>
      <td>StartUp Logo Creation</td>
      <td>We are a startup company that needs a bad ass logo. Blue and Orange are our preferred colors.</td>
      <td>Robert Murray</td>
      <td>August 10th, 2013</td>
    </tr>
  </tbody>
</table>

</div>
</div>
<div class="row">
<div class="large-12 columns" id="complete">
<h4>My Completed Projects</h4>

<table>
  <thead>
    <tr>
      <th width="200">Project Name </th>
      <th>Project Description</th>
      <th width="150">Expert Name</th>
      <th width="150">Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Four Frame Comic</td>
      <td>THA needs a four frame comic depicting a hacker getting caught in the act. Needs to be funny and edgy</td>
      <td>Mike Murray</td>
      <td>August 26th 2013</td>
    </tr>
  </tbody>
</table>



</div>
</div>
