<div class="main_container">


<div class="row">

<div class="large-6 columns">
<h4>Experts Shouldnn't Be Hard to Find.</h4>

<h6>Tired of getting bombarded by copy-and-paste proposals or getting undersold by overseas freelancers that can’t write a full sentence? Something exciting is coming for project managers and experts alike!</h6>

<p>Sign up now to receive pleasantly infrequent updates as we get ready to launch.  We won't spam you.  Pinky swear.

 <%= form_for(mail_resource, :as => mail_resource_name, :url => new_mail_path()) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <div><%= f.submit "Sign up" %></div>
  </div>
<% end %>




</div>
