<div class="main_container">


<div class="row">

<div class="large-6 columns">
<h3>Experts Shouldn't Be Hard to Find.</h3>

<p>Tired of being undersold by proposals that start with “Dear Kind Sir”? Sick of working with freelancers that can’t write a coherent sentence?
Nearly every person that has worked with crowdsourcing sites has AT LEAST one story like this.</b>
<p><b>Sign up and receive updates </b>on how FindExpert is going to change all that!

  <%= form_for(mail_resource, :as => mail_resource_name, :url => mails_path(@mail_resource)) do |f| %>

  <div class="customactions">
    <%= f.text_field :email %>
    <%= f.submit "Sign up", :class => "embedsubmit" %>
  </div>
<% end %>
<font size="1" color="grey"><i>We won’t spam you. Pinky swear.</i></font>
</div>
<div class="large-6 columns"> 
<iframe width="355" height="200"  src="//www.youtube.com/embed/6dq68QX7gcI" frameborder="0" allowfullscreen></iframe>
</div>

</div>
