<div class="main_container">

<div id="space"></div>

<div class="row">
  <div class="large-3 columns">
	<img src="http://placehold.it/400x400&text=[img]">
  </div>
  <div class="large-9 columns">
	<h1>Michael Scott</h1>
  </div>
</div>


<div id="space"></div>

</div>