<div class="main_container">

<div class="row">
  <div class="large-3 columns">
	<!--<img src="http://placehold.it/400x400&text=[img]">-->
	<img src="http://m.c.lnkd.licdn.com/media/p/1/000/04b/246/1e03f04.jpg">
  </div>
  <div class="large-9 columns">
	<h1>Mike Murray</h1>
	<h4>Enterprise Security Architect / Vulnerability and Exposure Research / Information Technology / System Administrator</h4>
  </div>
</div>

<div class="row">
  <br>
  <div class="large-3 columns">
	<div>
	Reputation	
    <img src="http://i43.tinypic.com/2vkhlkn.png" width="80" height="45">
	</div>
    <div>
    Referral Reputation
    <img src="http://i43.tinypic.com/2vkhlkn.png" width="80" height="45">
  </div>
  <div>
    <br>
    <h5>Summary</h5>
    <p>Experienced information security professional who enjoys solving difficult business problems in information security and building winning teams. Skilled leader with a drive for implementing lean processes that achieve both productivity and quality in short timeframes.</p>
  </div>
  </div>
  <div class="large-1 columns">
  </div>
  <div class="large-8 columns">
    <iframe width="500" height="300" src="//www.youtube.com/embed/ZV7rYsTy_sY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <h6><a href="www.duckduckgo.com">Full Resume</a><br></h6>
    <h6><a href="www.duckduckgo.com">Portfolio</a></h6>
  </div>
  <div class="large-9 columns">
    <hr>
  <h3>Past Projects</h3>
    <img src="http://i43.tinypic.com/1ifyvp.png" width="170" height="85">
    <img src="http://i39.tinypic.com/x2nrz9.png" width="170" height="85">
    <img src="http://i43.tinypic.com/5a4xvn.png" width="170" height="85">
  </div>
</div>

<br>


<div class="row">
  <div class="large-3 columns">
  </div>
  <div class="large-9 columns">
    <hr>
	<h3>Reviews</h3>
		<p><i>"Mike was able to bring a refined sense of the security market and product development to a small security service provider. His knowledge of the market helped the fledgling company gain a toehold and market position. His all-around security knowledge and communication skills are noteworthy."</i><br><b>Dan Fitzgerald</b></p>
		<p><i>"Mike Murray is someone who sees the big picture, takes a problem and synthesizes a solution into the context of the whole. I would describe Mike as a person with vision, passion and great communication skills. He also has a great sense of humor and I would definitely work with Mike again in the future."</i><br><b>Derek Douville</b></p>
		<p><i>"Mike is a consummate professional. His skills as a security technologist, architect and strategist were always a great asset to our team. Mike is very personable, politically savvy and demonstrates confident leadership. He also brings a generous helping of humor and good nature to any project or challenge. I recommend him highly."</i><br><b>Philip Blaisdell</b></p>
  </div>
</div>

</div>
