<link rel="stylesheet" href="social-likes.css">
<script src="jquery.min.js"></script>
<script src="social-likes.min.js"></script>

<div class="row">
<div class="large-12 columns">
Thank you for signing up for the Beta of FindExpert!   We're excited to have you here.  We'll be in touch soon to tell you all about our product and its features.


<ul class="social-likes">
	<li class="facebook" title="Share link on Facebook">Facebook</li>
	<li class="twitter" title="Share link on Twitter">Twitter</li>
	<li class="plusone" title="Share link on Google+">Google+</li>
</ul> 
<hr>
</div>
</div>
 
