<link rel="stylesheet" href="social-likes.css">
<script src="jquery.min.js"></script>
<script src="social-likes.min.js"></script>

<div class="row">
<div class="large-12 columns">
<h2>Thank you for signing up for the Beta of FindExpert!

<p>We're excited to have you here.  We'll be in touch soon to tell you all about our product and its features.   And, while you're here, you should share on Facebook that you're looking to join our exclusive club:
<div class="social-likes" data-url="http://www.findexpert.co/" data-title="I'm tired of bad freelance websites, so I just signed up for FindExpert.co">
	<li class="facebook" title="Share link on Facebook">Facebook</li>
	<li class="twitter" title="Share link on Twitter">Twitter</li>
	<li class="plusone" title="Share link on Google+">Google+</li>
</div> 

<br /><br />
<p>We know that there's not much to see yet.  For now, watch another one of our pithy videos:
<iframe width="560" height="315" src="//www.youtube.com/embed/KX5_VASHfGw" frameborder="0" allowfullscreen>

</div>
</div>
 
