#header {
    width:100%;
    margin:auto;
    height:65px;
    padding-top:0px;
    padding-bottom:6px;
    background: #000000;
}

.navigation {
    margin:auto;
    width:auto;
    height:35px;
    padding-top:0px;
    position:relative;
    z-index:300;
    background:transparent;
}

.navigation a {
    color:#eee;
    text-decoration:none;
}

.navigation a:hover {
    color:#4b656f;
    text-decoration:underline;
}

.navigation li {
    list-style:none;
    display:inline;
    margin:10px;
    position:relative;
}

#space {
    padding-top:130px;
    width:500px
}
