#header {
    width:100%;
    margin:auto;
    height:95px;
    padding-top:0px;
    padding-bottom:6px;
    background: #FFFFFF;
}

.headerimg{
    height: 120px;
    position:relative;
    left:130px;
    z-index:10000;
}

<<<<<<< HEAD
=======
.footericon{
    align:left; 
    height: 25px;
}


>>>>>>> 8806e158ce016efc3777f274bda2cf5c5bf81265
#footer {
    color: #999999;
    margin-top: 75px;
}

.main_container {
    width: 100%;
}

.customactions {
    width: 350px;
    height: 75px;
}

.embedsubmit {
    width: 75px;
    height: 30px;
}

.navigation {
    margin:auto;
    width:auto;
    height:35px;
    padding-top:0px;
    position:relative;
    z-index:300;
    background:transparent;
}

.navigation a {
    color:#eee;
    text-decoration:none;
}

.navigation a:hover {
    color:#4b656f;
    text-decoration:underline;
}

.navigation li {
    list-style:none;
    display:inline;
    margin:10px;
    position:relative;
}

#space {
    padding-top: 120px;
    width:100%;
    background: #0080FF;
    margin-bottom:50px;
}
.headerimg{
    position:relative;
    left:130px;
    height: 120px;
    z-index:10000;
}

#footer {
    color: #999999;
    margin-top: 75px;
}

.main_container {
    width: 100%;
}

.navigation {
    margin:auto;
    width:auto;
    height:35px;
    padding-top:0px;
    position:relative;
    z-index:300;
    background:transparent;
}

.navigation a {
    color:#eee;
    text-decoration:none;
}

.navigation a:hover {
    color:#4b656f;
    text-decoration:underline;
}

.navigation li {
    list-style:none;
    display:inline;
    margin:10px;
    position:relative;
}

#space {
    padding-top:100px;
    width:100%;
    background: #0080FF;
    margin-bottom:50px;
}
