 <!-- First Band (Image) -->
 
<div class="row">
<div class="large-12 columns">
<img src="http://placehold.it/1000x400&text=[img]">



<link rel="stylesheet" href="social-likes.css">
...
<script src="jquery.min.js"></script>
<script src="social-likes.min.js"></script>
...
<ul class="social-likes">
	<li class="facebook" title="Share link on Facebook">Facebook</li>
	<li class="twitter" title="Share link on Twitter">Twitter</li>
	<li class="plusone" title="Share link on Google+">Google+</li>
</ul> 
<hr>
</div>
</div>
 
