 <!-- Footer -->
 
<footer class="row">
	<div class="large-12 columns" id="footer">
	<hr>
		<div class="row">
			<div class="large-6 columns">
				<p>Find and Follow Us on Your Favorite Social Networks!
				<%= link_to image_tag('facebook-icon.png', :class => 'footericon'), "https://www.facebook.com/www.findexpert.co" %>
				<%= link_to image_tag('twitter-icon.png', :class => 'footericon'), "https://www.twitter.com/findexpert" %>
				<%= link_to image_tag('linkedin-icon.png', :class => 'footericon'), "https://www.linkedin.com/company/findexpert-co" %>
				</ul>
					
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><%= link_to "About", about_path %></li>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
				<p>&copy; 2013 FindExpert</p>
	</div>
</footer>
