    <!-- Header -->

    <div class="large-12 columns" id="header">
        <div class="row">
            <div class="large-3 columns">
            </div>
            <div class="large-6 columns">
                <div class ="navigation" id="navigation">
                    <ul class="inline-list left">
                        <li><a href="/"><%= image_tag 'logo.png' %></a></li>
                    </ul>
                </div>
             </div>
            <div class="large-3 columns">
                <div class ="navigation" id="navigation">
                    <ul class="inline-list right">
                    </ul>
                </div>
            </div>
        </div>
    </div>