    <!-- Header -->

    <div class="large-12 columns" id="header">
        <%= image_tag('findexpert.png', :class => 'headerimg')  %>
        <div class="row">
            <div class="large-3 columns">
            </div>
            <div class="large-6 columns">
                <div class ="navigation" id="navigation">
                    <ul class="inline-list left">
                    </ul>
                </div>
             </div>
            <div class="large-3 columns">
                <div class ="navigation" id="navigation">
                    <ul class="inline-list right">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="space"></div>
